html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.d-flex {
    padding: 0 15px 0 0;
}

.cartIcon {
    padding: 0 10px 0 0;
}

.carouselContainer {
    padding: 0 0 10px 0;
}

.jumbotronCardContainer {
    padding: 0 0 40px 0;
}

.cardTitle {
    color: #007FFF;
    text-align: center;
    padding: 0 0 20px 0;
}

.cardImage {
    padding: 20px 0 0 0;
}

.aboutUsContainer {
    padding: 0 0 40px 0;
}

.aboutUsText {
    padding: 20px 0 20px 0;
}

.gridRowPadding {
    padding: 0 0 30px 0;
}

.gridContainer {
    padding: 40px 0 40px 0;
}