@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Our Mission";
}

<div class="aboutUsContainer">
    <div class="jumbotron">
      <img class="d-block w-100" src="~/images/ourMissionImg.png">
      <h1 class="display-4 aboutUsText"><b>About Enterprise Marketplace</b></h1>
        <p class="lead">As technology continues to evolve and become more cutting-edge, it's our mission to keep human connection at the heart of commerce. That is why we created a place where creativity lives and thrives because it is powered by people. We help our community of sellers turn their ideas into successful businesses.</p>
      <hr class="my-4">
        <p class="lead">Enterprise Marketplace encourages & helps creative entrepreneurs start, manage, and scale their businesses. Want to become an Enterprise Marketplace Seller? Register your business today.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Register a Business</a>
      </p>
     </div>
</div>
