@model IEnumerable<EnterpriseProject.Data.Listing>
@{
    ViewData["Title"] = "Electronics";
}

<h2>Electronics</h2>

<div class="container gridContainer">
@foreach (var item in Model)
{
    <div class="row gridRowPadding">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="@item.PictureUrl" class="card-img-top" alt="Image of @item.Title">
                <div class="card-body">
                    <h5 class="card-title">@item.Price.ToString("C")</h5>
                    <p class="card-text">@item.Description</p>
                    <a href="#" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
    </div>
}
</div>
